*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: Ubuntu;
}
p{
    font-family: Jost;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);

}
header img{
    width: 7rem;
}
ul{
    display: flex;
    gap: 20px;
}
button{
    padding: 14px 20px;
    background-color: orange;
}
.one{
    display: flex;
    padding: 1rem;
}
.one h1{
    font-size: 4rem;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.two{
    text-align: center;
    background-image: url(Media/Dedicated\ Unity\ Developer\ For\ Hire.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
    color: white;
}
#Story{
    background-color: aliceblue;
}
#Story h1{
    font-size: 4rem;
    text-align: center;
    padding: 2rem ;
}
.story{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 4rem;
}
.story img{
    width: 20rem;
}


@media screen and (max-width:500px) {
    .one{
        flex-wrap: wrap;
        justify-content: center;
    }
    .story{
        flex-wrap: wrap-reverse;
    }
    header ul, header button{
        display: none;
    }
    header{
        justify-content: center;
    }
    .one img{
        width: 20rem;
    }
}